# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../data/pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon.groupby(by='Legendary')['#'].count()

Legendary
False    735
True      65
Name: #, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:
legendary = pokemon.loc[pokemon['Legendary']==True,:]
non_legendary = pokemon.loc[pokemon['Legendary']==False,:]

In [6]:
legendary['Total'].mean()

637.3846153846154

In [7]:
non_legendary['Total'].mean()

417.21360544217686

In [8]:
legendary['Total'].std()

60.93738905315346

In [9]:
non_legendary['Total'].std()

106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [10]:
from scipy.stats import ttest_ind

In [11]:
# Your code here:
ttest_ind(legendary['Total'], non_legendary.sample(65)['Total'], equal_var = False)

Ttest_indResult(statistic=13.88077768527192, pvalue=2.3345861876303527e-25)

What do you conclude from this test? Write your conclusions below.

In [12]:
# Your conclusions here:
# With 95% of confidence we can reject the hypothesis that the mean total points for legendary and non-legendary
#pokemons are the same.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [13]:
# Your code here:
pokemon.groupby(by='Type 1')['#'].count()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: #, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [14]:
# Your code here:
water_pokemon = pokemon.loc[pokemon['Type 1']=='Water',:]
water_pokemon.Total.mean()

430.45535714285717

In [15]:
pokemon.Total.mean()

435.1025

In [16]:
water_pokemon.Total.std()

113.18826606431458

In [17]:
pokemon.Total.std()

119.963039755519

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [18]:
# Your code here:
ttest_ind(pokemon.sample(112).Total, water_pokemon.Total, equal_var = True)

Ttest_indResult(statistic=1.483420574065048, pvalue=0.1393809988674038)

Write your conclusion below.

In [19]:
# Your conclusions here:
#With 95% of confidence we cannot reject the hypothesis that the mean total point for all the pokemons compared to
#the Type 1 water pokemons are equal.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [20]:
from scipy.stats import ttest_rel

In [21]:
# Your code here:
ttest_rel(pokemon.Attack, pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [22]:
# Your conclusions here:
#With 95% of confidence we can reject the null hypothesis that the defense and attack scores of each pokemon are 
#statiscally equal.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [23]:
# Your code here:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [24]:
# Your conclusions here:
#With 95% confidence we cannot reject the null hypothesis that the mean between special defense and attack scores
#for each pokemon are equal.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [25]:
from scipy.stats import ttest_1samp

In [26]:
# Your code here:
ttest_1samp((pokemon.Attack-pokemon.Defense),0)
#We have exactly the same results. With 95% we can reject the null hypothesis that the difference between the
#attack and defense scores of a pokemon are equal.

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [31]:
poke = pokemon.copy()
poke.loc[poke['Type 1']!='Water','Type 1'] = 'Other'

In [32]:
# Your code here:
leg_water = pd.crosstab(index = poke['Legendary'], columns = poke['Type 1'])
leg_water

Type 1     Other  Water
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [33]:
from scipy.stats import chi2_contingency

In [34]:
# Your code here:
chi2_contingency(leg_water)

(2.9429200762850503, 0.08625467249550949, 1, array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [30]:
# Your answer here:
# We should not reject the null hypothesis. That means the variables Legendary And Type 1 are independent.