# Before your start:
- Comment as much as you can
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [2]:
# Your code here:
def count_elements(x):
    '''
    Count the numbers of elements in a list.
    x should be iterable.
    '''
    return len(x)

Create a function that returns the mean of a list of numbers

In [3]:
# Your code here:
def mean_value(x):
    '''
    Calculate the mean of elements in a list.
    '''
    return sum(x)/len(x)

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [48]:
# Your code here:
def stan_d(x):
    '''
    Calculate the standard deviation of elements in a list.
    '''
    std = np.sqrt(sum([abs(i- mean_value(x))**2 for i in x])/len(x))  
    return std

In [49]:
x= [1,2,3,4,5]
stan_d(x)

1.4142135623730951

In [37]:
np.std(x)

1.4142135623730951

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [50]:
# Your code here:
def stats(x):
    '''
    This function calculates the quantity, mean and standard deviation od the elements in a list
    
    Parameters
    -----------
    x: list containing numbers(int or float)
    
    Return:
    -----------
    r: String with the the number of elements, their mean and standard deviation.
    '''
    r = f'count: {count_elements(x)} mean: {mean_value(x)} std: {stan_d(x)}'
    return r

In [51]:
stats(x)

'count: 5 mean: 3.0 std: 1.4142135623730951'

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [52]:
import re

In [72]:
# Your code here:
def str_cleaning(x):
    s = re.findall('[a-zA-z]+', x)
    s.sort()
    r = [string.lower() for string in s]
    return r

In [73]:
str_cleaning('Hello World')

['hello', 'world']

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [74]:
# Your code here:
def age_category(age):
    if age in range(0,3):
        return "baby"
    elif age in range(3,12):
        return 'kid'
    elif age in range(12,18):
        return 'teenager'
    elif age in range(18,25):
        return 'yound adult'
    elif age in range(26, 60):
        return 'middle age'
    else:
        return 'senior'

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [80]:
# Your code here:
def user_age():
    age = input('How old are you?')
    if int(age)>150:
        return user_age()

In [81]:
user_age()

How old are you?152
How old are you?156
How old are you?200
How old are you?4

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order  

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [92]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"
def alph_order(string):
    s = re.findall('[a-zA-z]+\s?[a-zA-Z]+',string)
    s.sort()
    ordered = ' '.join(s)
    return ordered

In [93]:
alph_order(ordered)

'AI Big Data Data Warehouse Machine Learning Pipeline'

Make a function without return that modifies the buzz string and puts it in alphabetical order

Expected output:
````python
'AI Big Data Data Warehouse Machine Learning Pipeline'
````

In [103]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"
def mod_buzz():
    global buzz
    s = re.findall('[a-zA-z]+\s?[a-zA-Z]+',buzz)
    s.sort()
    buzz = ' '.join(s)
mod_buzz()
buzz

'AI Big Data Data Warehouse Machine Learning Pipeline'

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [3]:
import pandas as pd

In [4]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

Expected output:

|    |   sepal_length |   sepal_width |   petal_length |   petal_width |
|---:|---------------:|--------------:|---------------:|--------------:|
|  0 |            5.1 |           3.5 |            1.4 |           0.2 |
|  1 |            4.9 |           3   |            1.4 |           0.2 |
|  2 |            4.7 |           3.2 |            1.3 |           0.2 |
|  3 |            4.6 |           3.1 |            1.5 |           0.2 |
|  4 |            5   |           3.6 |            1.4 |           0.2 |

In [5]:
# Your code here:
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

Expected output:
````python
sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64
````

In [97]:
np.mean(iris_numeric)
# It returns the mean of each column.

sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

Expected output:
````python
sepal_length    0.291357
sepal_width     0.307137
petal_length    0.108012
petal_width     0.078881
dtype: float64
````

In [98]:
np.std(iris_numeric)

sepal_length    0.276405
sepal_width     0.291376
petal_length    0.102470
petal_width     0.074833
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [99]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    inches = x*0.393701
    return inches

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [100]:
# Your code here:
iris_inch = cm_to_in(iris_numeric)
iris_inch

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874
5      2.125985     1.535434      0.669292      0.15748
6      1.811025     1.338583      0.551181      0.11811
7      1.968505     1.338583      0.590552      0.07874
8      1.732284     1.141733      0.551181      0.07874
9      1.929135     1.220473      0.590552      0.03937

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [101]:
# Define constant below:
error = 2
def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    global error
    corrected = x+error
    return corrected
iris_constant = add_constant(iris_numeric)
iris_constant

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2
5           7.4          5.9           3.7          2.4
6           6.6          5.4           3.4          2.3
7           7.0          5.4           3.5          2.2
8           6.4          4.9           3.4          2.2
9           6.9          5.1           3.5          2.1

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [102]:
# Your code here:
def maximum(x):
    m = max(x)
    return m
iris_numeric.apply(maximum,1)

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    4.6
7    5.0
8    4.4
9    4.9
dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [7]:
iris_numeric.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width'], dtype='object')

In [8]:
# Your code here:
def totals(x):
    tl=[]
    tw=[]
    x['total_length'] = x['sepal_width']+ x['petal_width']
    x['total_width'] = x['sepal_length']+x['petal_length']
    return x[['total_length','total_width']]
    
totals(iris_numeric)

   total_length  total_width
0           3.7          6.5
1           3.2          6.3
2           3.4          6.0
3           3.3          6.1
4           3.8          6.4
5           4.3          7.1
6           3.7          6.0
7           3.6          6.5
8           3.1          5.8
9           3.2          6.4